vendor
dist

web/app/mu-plugins/*/
!web/app/mu-plugins/egmont-*
!web/app/mu-plugins/oath-dynamic-ad-call-library
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
web/app/plugins/*/
!web/app/plugins/egmont-*
web/wp
web/app/db.php
web/app/themes/*/node_modules
web/app/themes/*/dist
web/app/themes/*/vendor
web/app/uploads

.idea